@{
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
	ViewData["Title"] = "Create Product";
}

@model HSJPersonal.DataModels.Product

<!-- Product section -->
<section class="contact_section  long_section">
	<div class="container">
		<div class="row">
			<div class="col-md-8 mx-5">
				<div class="form_container">
					<div class="heading_container">
						<h2>
							Add Product
						</h2>
					</div>

					<form asp-controller="Product" asp-action="ProductSubmit">
						<div>
							<input required type="text" asp-for="ProductName" placeholder="Product Name" />
						</div>
						<div>
							<input required type="number" asp-for="ProductPrice" placeholder="Product Price" />
						</div>
						<div>
							<input required type="text" asp-for="ProductImage" placeholder="Product Image" />
						</div>
						<div>
							<input required type="number" asp-for="ProductAmmount" placeholder="Product Ammount" />
						</div>
						@* <div>
							<label>Is Active</label>
							<input type="checkbox" asp-for="IsActive" placeholder="IsActive" />
						</div> *@
						<div class="btn_box">
							<button>
								Add
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end Product section -->

