@{
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
	ViewData["Title"] = "Create Product";
}

@model HSJPersonal.DataModels.Product

<!-- Product section -->

<div class="card card-info col-8 justify-content-center m-0">
	<div class="card-header">
		<h3 class="card-title">
			Add Product
		</h3>
	</div>
	<form asp-controller="Product" asp-action="ProductSubmit">
		<div class="card-body">

			<div class="form-group">
				<lebel>Product Name</lebel>
				<input required type="text" class="form-control border border-primary" asp-for="ProductName" />
			</div>
			<div class="form-group">
				<lebel>Product Price</lebel>
				<input required type="number" class="form-control border border-primary" asp-for="ProductPrice" />
			</div>
			<div class="form-group">
				<lebel>Product Image</lebel>
				<input required type="text" class="form-control border border-primary" asp-for="ProductImage" />
			</div>
			<div class="form-group">
				<lebel>Product Ammount</lebel>
				<input required type="number" class="form-control border border-primary" asp-for="ProductAmmount" />
			</div>

			<div class="form-check">
				<input type="checkbox" class="form-check-input" asp-for="IsActive" />
				<label class="form-check-label">Is Active</label>
			</div>

		</div>

		<div class="card-footer">
			<button type="submit" class="btn btn-primary">Add</button>
		</div>
	</form>
</div>

<!-- end Product section -->

