@{
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
	ViewData["Title"] = "Create Product";
}

@model HSJPersonal.DataModels.Product

<!-- Product section -->
<div class="card">

	<div class="card-header">
		<h3 class="card-title">Add New Product</h3>

		<div class="card-tools">
			<button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
				<i class="fas fa-minus"></i>
			</button>
			<button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
				<i class="fas fa-times"></i>
			</button>
		</div>
	</div>

	<div class="card-body">


		<form asp-controller="Product" asp-action="ProductSubmit">
			<div class="Table">
				<input required type="text" asp-for="ProductName" placeholder="Product Name" />
			</div>
			<div>
				<input required type="number" asp-for="ProductPrice" placeholder="Product Price" />
			</div>
			<div>
				<input required type="text" asp-for="ProductImage" placeholder="Product Image" />
			</div>
			<div>
				<input required type="number" asp-for="ProductAmmount" placeholder="Product Ammount" />
			</div>
			<div>
				<label>Is Active</label>
				<input type="checkbox" asp-for="IsActive" placeholder="IsActive" />
			</div>
			<div class="btn_box">
				<button>
					SEND
				</button>
			</div>
		</form>

	</div>

</div>
<!-- end Product section -->