@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Admin Page";
}

@model HSJPersonal.DataModels.Admin

<section class="contact_section  long_section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="form_container">
                    <div class="heading_container">
                        <h2>
                            Admin Form
                        </h2>
                    </div>

                    <form asp-controller="Admin" asp-action="AdminEdit">

                        <input asp-for="AdminId" hidden />

                        <div>
                            <label>Name</label>
                            <input required type="text" asp-for="AdminName" placeholder="Your Name" />
                        </div>
                        <div>
                            <label>Phone</label>
                            <input required type="text" asp-for="AdminPhone" placeholder="Phone Number" />
                        </div>
                        <div>
                            <label>Email</label>
                            <input required type="email" asp-for="AdminEmail" placeholder="Email" />
                        </div>
                        <div>
                            <label>Location</label>
                            <input required type="text" asp-for="AdminLocation" placeholder="Location" />
                        </div>

                        <div class="btn_box">
                            <button>
                                Update
                            </button>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
</section>