@{
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
	ViewData["Title"] = "Admin Page";
}

@model HSJPersonal.DataModels.Blog

<!-- Blog Create section -->

<div class="card card-info col-12 justify-content-center m-0">
	<div class="card-header">
		<h3 class="card-title">
			Add Blog
		</h3>
	</div>
	<form asp-controller="Blog" asp-action="BlogCreate">

		<div class="card-body">

			<div class="form-group">
				<lebel>Blog Title</lebel>
				<input required type="text" class="form-control border border-primary" asp-for="BlogTitle" />
			</div>
			<div class="form-group">
				<lebel>Blog Thumbnail</lebel>
				<input required type="text" class="form-control border border-primary" asp-for="BlogThumbnail" />
			</div>
			<div class="form-group">
				<lebel>Blog Content</lebel>
				<textarea required rows="5" class="form-control border border-primary" asp-for="BlogContent"></textarea>
			</div>

		</div>

		<div class="card-footer">
			<button type="submit" class="btn btn-primary">Add Blog</button>
		</div>
	</form>
</div>

<!-- end Blog Create section -->