@{
	Layout = "~/Views/Shared/_EducutLayout .cshtml";
	ViewData["Title"] = "EduCtu Blog Page";
}

@model HSJPersonal.DataModels.Blog


<section class="about_section layout_padding long_section">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="img-box">
					<img src="@Model.BlogThumbnail" alt="">
				</div>
			</div>
			<div class="col-md-6">
				<div class="detail-box">
					<div class="heading_container">
						<h2>
							@Model.BlogTitle
						</h2>
					</div>
					<p>
						@Model.BlogContent
					</p>
				</div>
			</div>
		</div>
	</div>
</section>