@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Admin Page";
}

@model HSJPersonal.DataModels.Social

<section class="contact_section  long_section">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="form_container">
                    <div class="heading_container">
                        <h2>
                            Add Social
                        </h2>
                    </div>

                    <form asp-controller="Social" asp-action="SocialSubmit">

                        <div>
                            <input required type="text" class="form-control border border-info" asp-for="SocialName" placeholder="Social" />
                        </div>
                        <div>
                            <input required type="text" class="form-control border border-info" asp-for="SocialIcon" placeholder="Icon class" />
                        </div>
                        <div>
                            <input required type="text" class="form-control border border-info" asp-for="SocialLink" placeholder="Link" />
                        </div>

                        <div class="btn_box">
                            <button>
                                Add
                            </button>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
</section>